# Assignment Day-2 (Python)
Riya Gupta(91901)

## 1.Given a list of integers, remove all occurrences of a specific value using a list method.

In [6]:

numbers = [1, 2, 3, 4, 3, 5, 3, 6]

value_to_remove = int(input("Enter the value to remove: "))


if value_to_remove in numbers:
    # Using list comprehension
    numbers = [num for num in numbers if num != value_to_remove]
    print("Values reamining in list after removing",value_to_remove)
    print(numbers)
else:
    print("Value not present in the list.")

Enter the value to remove: 3
Values reamining in list after removing 3
[1, 2, 4, 5, 6]

## 2. Concatenate a list of strings into a single string, with each element separated by a space, using a list method.

In [13]:

words = ["Hello", "world", "this", "is", "Python","Bootcamp","day-2"]

#  join() 
result = " ".join(words)

print("After joining strings in list\n ",result)
print(type(result))

After joining strings in list
  Hello world this is Python Bootcamp day-2
<class 'str'>

## 3.Reverse a list of integers using a built-in list method.

In [15]:
numbers = [1, 2, 3, 4, 5, 6]
print("Before reversing values in list\n ",numbers)
# Using reverse() 
numbers.reverse()

print("After reversing values in list\n ",numbers)

Before reversing values in list
  [1, 2, 3, 4, 5, 6]
After reversing values in list
  [6, 5, 4, 3, 2, 1]

## 4. Sort a list of numbers in descending order using a built-in list method.

In [17]:
numbers = [1,3, 4, 2,  5, 6]
print("Initially values in list\n ",numbers)
# Using sort() 
numbers.sort(reverse=True)

print("After arranging values in descending order in list\n ",numbers)

Initially values in list
  [1, 3, 4, 2, 5, 6]
After arranging values in descending order in list
  [6, 5, 4, 3, 2, 1]

## 5.	Given two lists, combine them into a single list and remove any duplicate elements using a list method.

In [22]:
# Method-1 Using extend() and set() to combine and remove duplicates
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
list1.extend(list2)         
combined_list = list(set(list1)) 
print(combined_list)

[1, 2, 3, 4, 5, 6]

In [23]:
# Method-2 Using += Operator with List Comprehension
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
list1 += list2
combined_list = []
[combined_list.append(item) for item in list1 if item not in combined_list]
print(combined_list)

[1, 2, 3, 4, 5, 6]

In [24]:
# Method-3 Using list() with dict.fromkeys()
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
combined_list = list(dict.fromkeys(list1 + list2))
print(combined_list)

[1, 2, 3, 4, 5, 6]

## 6.	Convert a tuple of integers into a list and remove the first and last elements using a tuple method.

In [30]:
tuple1 = (1, 2, 3, 4, 5)
# Convert the tuple to a list
list1 = list(tuple1)
# Remove the first and last elements using slicing
print("Initial tuple  :",tuple1)
modified_list = list1[1:-1]
tuple_new = tuple(modified_list)
print("After removing first and last values ",tuple_new)

Initial tuple  : (1, 2, 3, 4, 5)
After removing first and last values  (2, 3, 4)

## 7.	Given a list of tuples, extract all the first elements of each tuple into a separate list using tuple unpacking.

In [34]:
#method-1
list_tuples = [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
first_elements = []
# Using a loop to extract the first elements
for item in list_tuples:
    first_elements.append(item[0])  # Accessing the first element of each tuple

print(first_elements)

[1, 2, 3, 4]

In [35]:
#method-2
list_of_tuples = [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

# Using zip() and unpacking to extract the first elements
first_elements = list(zip(*list_of_tuples))[0]

print(first_elements)

(1, 2, 3, 4)

## 8.	Combine two tuples into a single tuple.

In [36]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Combining the tuples
combined_tuple = tuple1 + tuple2
print("tuple1:",tuple1)
print("tuple2:",tuple2)
print("Combined tuple:",combined_tuple)

tuple1: (1, 2, 3)
tuple2: (4, 5, 6)
Combined tuple: (1, 2, 3, 4, 5, 6)

## 9.	Find the maximum and minimum values in a tuple of numbers using tuple methods.

In [43]:
tuple1 = (10, 5, 8, 3, 15, 2)
# Finding the maximum and minimum values using tuple methods
maximum_value = max(tuple1)
minimum_value = min(tuple1)
print("tuple1:" ,tuple1)
print("Maximum value:" ,maximum_value)
print("Minimum value:",minimum_value)

tuple1: (10, 5, 8, 3, 15, 2)
Maximum value: 15
Minimum value: 2

## 10.	Convert a tuple of strings into a single string, with each element separated by a comma, using tuple methods.

In [49]:
# Given tuple of strings
strings_tuple = ("Hello", "world", "this", "is", "Python","Bootcamp","day-2")
# Converting the tuple to a single string with elements separated by commas
result_string = ", ".join(strings_tuple)
print("Tuple of strings:",strings_tuple)
print("result_string: ",result_string)
print(type(result_string))

Tuple of strings: ('Hello', 'world', 'this', 'is', 'Python', 'Bootcamp', 'day-2')
result_string:  Hello, world, this, is, Python, Bootcamp, day-2
<class 'str'>

## 11.	Given two sets, return the union of the two sets using a set operation.

In [52]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

#  union ()
union_set =  set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5}

In [54]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Returning the union of the two sets using the | operator
union_set = set1 | set2

print(union_set)

{1, 2, 3, 4, 5}

## 12.	Find the intersection of two sets using a set method.

In [55]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

#  union ()
intersection_set =  set1.intersection(set2)

print(intersection_set)

{3}

## 13.	Remove all elements from one set that are also present in another set using a set method.

In [56]:

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 6}
# Removing elements from set1 that are also present in set2
set1.difference_update(set2)

print(set1)

{1, 2, 5}

## 14.	Find the difference between two sets using a set method.

In [58]:

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 6}
# difference()
difference_set = set1.difference(set2)

print(difference_set)

{1, 2, 5}

## 15.	Convert a list of integers into a set and then back to a list to remove duplicates, using set operations.

In [60]:
integer_list = [1, 2, 2, 3, 4, 4, 5]
# Step 1: Convert the list to a set to remove duplicates
unique_set = set(integer_list)
# Step 2: Convert the set back to a list
new_list = list(unique_set)

print(new_list)

[1, 2, 3, 4, 5]

## 16.	Merge two dictionaries into a single dictionary using a dictionary method.

In [62]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

# Merging dict2 into dict1
dict1.update(dict2)

print("Merged dictionary:",dict1)

Merged dictionary: {'a': 1, 'b': 3, 'c': 4}

## 17.	Extract all values from a dictionary into a list using a dictionary method.

In [63]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

values_list = list(my_dict.values())

print(values_list)

[1, 2, 3]